*{
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  margin: 0;
  padding: 0;
}

/* Seat buttons */
.seatButtons-container{
  display: none;
  width: 400px;
  position: absolute;
  z-index: 1;
  top: 50%;
  left: 50%;
  margin-top: -96px;
  margin-left: -153px;
  align-items: center;
  
}
.buttonSeat1{
  width: 200px;
  height: 137px;
  margin-top: -20px;
}
.btn1{
  width: 32px;
  height: 56px;
  margin: 1px 6px;
  margin-bottom: 23px;
  background-color: orange;
  border: 1px solid;
  border-radius: 3px;
}
.btn1:hover{
  background-color: chocolate;
  border: 1px solid;
  border-radius: 3px;
  cursor: pointer;
  color: white;
  border: 2px black solid
}
.buttonSeat2{
  width: 150px;
}
.btn2{
  width: 24.5px;
  height: 43px;
  margin: 9px 2.5px;
  margin-bottom: 26px;
  padding: 0px;
  background-color: deepskyblue;
  border: 1px solid;
  border-radius: 3px;
}
.btn2:hover{
  background-color: royalblue;
  border: 1px solid;
  border-radius: 3px;
  cursor: pointer;
  color: white;
  border: 2px black solid
}
.display-btn1{
  cursor: not-allowed;
  background-color: silver !important;
  color: grey;
}
.display-btn1:hover{
  cursor: not-allowed;
  background-color: silver !important;
  border: 1px grey solid;
  color: grey;
}
.display-btn2{
  cursor: not-allowed;
  background-color: silver !important;
  color: grey;
}
.display-btn2:hover{
  cursor: not-allowed;
  background-color: silver !important;
  border: 1px grey solid;
  color: grey;
}

/* when class container is landscape */
.landscape-class{
  width: 805px;
  height: 470px; 
  display: none;
  padding-top: 0px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) ;
  border: 1px solid rgba(0, 0, 0, 0.285);
  border-radius: 5px;
  background-color:#fff;
  position: absolute;
  box-shadow: 0 2px 2px 0 rgb(0 0 0 / 14%), 0 3px 1px -2px rgb(0 0 0 / 12%),
    0 1px 5px 0 rgb(0 0 0 / 20%);
}
.landscape-class header h3{
    position: fixed; 
    left: 37%;
    margin-top: 10px;
    font-weight: 500;
    color: #04aa6d;
}  
.closebtn {
  text-decoration: none;
  color: black;
  position: absolute;
  top: 0;
  right: 20px;
  font-size: 30px;
}
.closebtn:hover{
  opacity: 0.7;
}
.landscapeAirplaneimg-container{
  margin-top: 70px;
  width: 800px;
  height: 270px;
}
.landscapeAirplaneimg-container img{  
  width: 800px;
  height: 270px;
}
.book-btn{
  position: fixed;
  width: 30%;
  height: 9%;
  left: 35%;
  outline: none;
  border: none;
  border-radius: 3px;
  background-color: #04aa6d;
  color: white;
  font-weight: 500;
  cursor: pointer;
  margin: 20px 0 10px 0;
  padding: 10px 0 10px 0;
}
.book-btn:hover {
  opacity: 0.9;
}

.show-landscapeClass{
  display: initial;
  visibility: visible;
}
.show-portraitClass{
  display: initial;
}
.show-seatButtonsContainer{
  display: flex;
}

/* when class container is portrait */
.portrait-class{
  display: none;
  width: 470px;
  height: 900px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: 0.3s;
  margin-top: 50px;
  border: 1px solid rgba(0, 0, 0, 0.285);
  border-radius: 5px;
  background-color:#fff;
  position: absolute;
  box-shadow: 0 2px 2px 0 rgb(0 0 0 / 14%), 0 3px 1px -2px rgb(0 0 0 / 12%),
    0 1px 5px 0 rgb(0 0 0 / 20%);
}
.portrait-class header h3{
  margin-left: 30%; 
  margin-top: 10px; 
  color: #04aa6d;
}
.closebtn2 {
  text-decoration: none;
  color: black;
  position:absolute ;
  top: 110px;
  right: 20px;
  font-size: 30px;
}
.closebtn2:hover{
  opacity: 0.7;
}
.portraitAirplaneimg-container{
  margin-left: 22%;
}
.portraitAirplaneimg-container img{
  height: 800px;
  width: 270px;
}
.book-btn2{
  position: fixed;
  height: 4%;
  width: 30%;
  left: 35.5%;
  outline: none;
  border: none;
  border-radius: 3px;
  background-color: #04aa6d;
  color: white;
  font-weight: 500;
  cursor: pointer;
  margin: 10px 0 10px 0;
  padding: 5px 0 5px 0;
}
.book-btn2:hover {
  opacity: 0.9;
}


@media screen and (max-width: 820px) {
  .show-landscapeClass{
   visibility: hidden;
   display: none;
  }
  .show-portraitClass{
    display: initial;
  }
  .show-seatButtonsContainer{
    transform: rotate(90deg);
    position: absolute;
    z-index: 1;
    margin-left: -357px;
    margin-top: 153px;
  }
  .seatButtons-container{
    padding-top: 15px;
    margin-left: -192px;
    margin-top: 9px;
  }
  .buttonSeat1{
    width: 185px;
    height: 140px;
    display: flex;
    flex-wrap: wrap;
    margin-right: 15px;
    margin-top: 0px;
  }
  .btn1{ 
    transform: rotate(-90deg);
    height: 32px;
    width: 56px;
    margin: 0px -6px ;
    margin-bottom: 36px;
    margin-top: 12.5px;
    background-color: orange;
    border: 1px solid;
    border-radius: 3px;
 }
  .buttonSeat2{
    width: 170px;
    height: 130px;
    margin-left: 30px;
    margin-top: 8px;
    display: flex;
    flex-wrap: wrap;
  }
  .btn2{
   transform: rotate(-90deg);
   height: 24.5px;
   width: 43px;
   margin-left: -16px;
   margin-bottom: 45px;
   padding: 0px;
   background-color: deepskyblue;
   border: 1px solid;
   border-radius: 3px;
 }
}